doctype html
html(lang='en')
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='css/style.css')
            link(rel='shortcut icon' href='img/favicon.png' type='image/x-icon')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')

            title Natours | #{title}
    body(data-alert=`${alert ? alert : ''}`)
        include _header
        //CONTENT
        block content

        //FOOTER
        include _footer

        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.1/axios.min.js')
        //- script(src='/js/mapbox.js')
        //- script(src='/js/login.js')
        script(src='/js/bundle.js')

